<ul th:fragment="next (categories)" class="pl-[2em]">
  <li th:fragment="single (categories)" th:each="category : ${categories}" class="text-slate-600 dark:text-slate-400">
    <a th:href="@{${category.status.permalink}}" class="theme-link inline-block text-base my-1">
      <span th:text="|${category.spec.displayName}(${category.status.visiblePostCount})|"> </span>
    </a>
    <th:block th:if="${not #lists.isEmpty(category.children)}">
      <th:block th:replace="~{modules/category-tree :: next (categories=${category.children})}"></th:block>
    </th:block>
  </li>
</ul>
