<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" th:fragment="html (title, aside, content, footer)">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
    <title th:text="${title} + ' | ' + ${site.title}"></title>
    <link rel="shortcut icon" th:href="${site.favicon}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/assets/dist/style.css?v={version}(version=${theme.spec.version})}" />
    <script th:src="@{/assets/dist/main.iife.js?v={version}(version=${theme.spec.version})}"></script>
  </head>
  <body class="bg-white pl-0 desktop:pl-[300px] dark:bg-slate-900">
    <div
      id="left-aside"
      class="min-h-[100vh] h-full w-[300px] max-w-[80vw] bg-slate-100 flex flex-col justify-between items-center fixed top-0 left-[-300px] z-20 transition-all overflow-auto desktop:left-0 dark:bg-slate-950"
    >
      <div>
        <div class="flex flex-col justify-center items-center py-16">
          <img th:src="${site.logo}" alt="logo" class="w-24 rounded-full" />
          <h1
            th:text="${site.title}"
            class="text-slate-900 font-bold text-2xl leading-relaxed mt-2 dark:text-slate-100"
          ></h1>
          <h2 th:text="${site.subtitle}" class="text-slate-600 text-sm dark:text-slate-400"></h2>
          <p
            th:if="${not #arrays.isEmpty(theme.config.socials.socialArray)}"
            class="text-slate-600 dark:text-slate-400"
          >
            <a
              th:each="social : ${theme.config.socials.socialArray}"
              th:href="@{${social.link}}"
              target="_blank"
              class="inline-block text-lg p-1 hover:text-sky-400"
            >
              <span th:class="|inline-block i-ri-${social.type}-fill|"></span>
            </a>
          </p>
        </div>
        <div>
          <ul th:with="menu = ${menuFinder.getPrimary()}" class="flex flex-col justify-center items-center p-4">
            <li
              th:each="menuItem : ${menu.menuItems}"
              class="w-full text-center py-2 text-slate-700 dark:text-slate-300"
            >
              <a
                th:href="@{${menuItem.status.href}}"
                th:text="${menuItem.status.displayName}"
                th:target="${menuItem.spec.target?.value}"
                class="text-base inline-block w-[50px] text-justify transition-colors hover:text-sky-400"
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="py-6 text-center text-slate-400 dark:text-slate-600">
        <span
          id="color-scheme-switch"
          onclick="main.toggleColorScheme()"
          class="inline-block text-xl cursor-pointer hover:text-sky-400"
        ></span>
      </div>
    </div>
    <div class="px-4 py-16 desktop:px-16">
      <div
        class="fixed top-0 left-0 z-30 w-screen h-12 flex justify-between items-center p-2 bg-slate-100 shadow desktop:hidden dark:bg-slate-950"
      >
        <img th:src="${site.logo}" alt="logo" class="h-8" onclick="main.openLeftAside()" />
        <h1 th:text="${site.title}" class="text-slate-900 font-bold text-lg dark:text-slate-100"></h1>
        <div id="aside-open-btn" class="flex items-center">
          <span
            class="inline-block text-xl text-slate-700 i-ri-side-bar-line laptop:hidden dark:text-slate-300"
            onclick="main.openRightAside()"
          ></span>
        </div>
      </div>
      <div class="mx-auto w-full max-w-7xl flex">
        <div class="flex-1 w-full">
          <th:block th:replace="${content}" />
        </div>
        <div
          id="right-aside"
          class="w-[300px] max-w-[80vw] ml-0 min-h-[100vh] bg-white p-4 fixed top-0 right-[-300px] z-20 transition-all overflow-auto laptop:static laptop:p-0 laptop:pl-8 laptop:overflow-visible dark:bg-slate-950 laptop:bg-transparent dark:laptop:bg-transparent"
          th:if="${aside != null }"
        >
          <th:block th:replace="${aside}" />
        </div>
      </div>
    </div>
    <div
      id="mask"
      class="w-screen h-screen bg-[#0004] fixed top-0 left-0 z-10 hidden transition-colors"
      onclick="main.closeAllAside()"
    ></div>
    <th:block th:if="${footer != null }">
      <th:block th:replace="${footer}" />
    </th:block>
    <script>
      main.checkRightAside();
    </script>
    <halo:footer />
  </body>
</html>
