<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = '分类', aside = null, content = ~{::content}, footer = null)}"
>
  <th:block th:fragment="content">
    <h2 class="text-slate-800 text-4xl font-bold mb-4 dark:text-slate-200">分类</h2>
    <div class="border border-slate-200 rounded-lg my-4 p-2 laptop:p-16 dark:border-slate-800">
      <ul>
        <li th:replace="~{modules/category-tree :: single(categories=${categories})}" />
      </ul>
      <p
        th:if="${#lists.isEmpty(categories)}"
        class="text-slate-600 text-2xl text-center font-bold dark:text-slate-400"
      >
        暂无分类
      </p>
    </div>
  </th:block>
</html>
