<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = ${post.spec.title}, aside = ~{::aside}, content = ~{::content}, footer = ~{::footer})}"
>
  <th:block th:fragment="aside">
    <div th:replace="~{modules/post-aside-card :: card(post = ${post})}"></div>
    <div class="toc-container sticky top-16">
      <p class="text-slate-800 font-bold text-lg dark:text-slate-200">文章目录</p>
      <div class="toc mt-2 -ml-[1em]"></div>
    </div>
  </th:block>
  <th:block th:fragment="content">
    <div class="border-slate-200 laptop:border laptop:rounded-lg laptop:p-16 dark:border-slate-800">
      <div>
        <h1 th:text="${post.spec.title}" class="text-slate-800 font-bold text-3xl dark:text-slate-200"></h1>
        <div th:utext="${post.content.content}" class="markdown-body py-6 w-full overflow-hidden"></div>
        <div class="text-slate-600 text-base dark:text-slate-400">
          <p
            id="upvote-container"
            onclick="main.upvote()"
            th:attr="data-post-name=${post.metadata.name}"
            class="flex flex-col justify-between items-center text-base cursor-pointer w-24 h-24 my-8 pt-5 pb-2 mx-auto border rounded-full border-slate-300 dark:border-slate-700 hover:text-red-500 hover:border-red-500 dark:hover:border-red-500 transition-colors"
          >
            <span id="upvote-icon" class="i-ri-thumb-up-line block text-4xl"></span>
            <span id="upvote-count" th:text="${post.stats.upvote}" class="block text-center font-bold"></span>
          </p>
        </div>
      </div>
      <div th:if="${pluginFinder.available('PluginCommentWidget') and post.spec.allowComment}" class="mt-16">
        <h3 class="text-2xl font-bold text-slate-800 py-3 dark:text-slate-200">评论</h3>
        <halo:comment
          group="content.halo.run"
          kind="Post"
          th:attr="name=${post.metadata.name}"
          colorScheme="window.main.currentColorScheme"
        />
      </div>
    </div>
  </th:block>
  <th:block th:fragment="footer">
    <script>
      main.generateToc();
      main.initUpvote();
      main.highlight().then(() => main.addCodeCopyBtn());
    </script>
  </th:block>
</html>
